body {
    background: #5c5b5c;
}
.container {
    margin: 0 auto;
    max-width: 40%;
}
.img {
    width: 100%;
}
.texts {
    color: #ffffff;
    display: flex;
    overflow: hidden;
    width: 40%;
}
.control-container {
    display: flex;
    justify-content: space-between;
}
.slider {
    display: flex;
    overflow: hidden;
    
}

.text {
    width: 150px;
    margin-right: 10%;
}
